@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "LuxuryFont";
    src: url("/fonts/LuxuryFont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply Globally */
  body {
    font-family: "LuxuryFont", serif;
  }
  